@import "../../App.css";

 
 


.show{
    display: block !important;
}



@media (max-width: 600px) {
.FcFolder{
     margin-left: 90px;
    
    } 
}

@media (min-width: 600px) {
.FcFolder{
         margin-left: 200px;
        
           
    } 
}

@media (min-width: 768px) {
 .FcFolder{
 margin-left: 250px;

               
    } 
}

@media (min-width: 992px) {
 .FcFolder{
 margin-left: 350px;
 
                  
       } 
   }


@media (min-width: 1200px) {

 .FcFolder{
  margin-left: 500px;
 
                     
         
 } 
}

@media (min-width: 1600px) {

.FcFolder{
    margin-left: 750px;
    
                        
 } 
}