@import "../../App.css";

*{ 
    margin-top: 0;
    padding: 0;
}

form {
background-color: rgb(24, 24, 24) ;
border-radius: 7%;
padding-left: 10%;
width: 400px;
height: 400px;
margin-top: 20%;
margin-bottom: 50%;;
margin-right: 50%;
margin-left: 30%;


}



.input {
border: none;
background-color: rgb(255, 255, 255, 0.4); 
cursor: pointer;
border-radius: 5px;
width: 200px;
height: 30px;
}

