@import "../../App.css";

.darkBG {
background-color: rgba(0, 0, 0, 0.2);
width: 100vw;
height: 100vh;
z-index: 0;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
  }

  
.centered {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  }

.modal {
width: 700px;
height: 700px;
background: rgb(230, 227, 227);
color: white;
z-index: 10;
border-radius: 16px;
box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.8);
overflow-y: auto;
 
 
}

.modalHeader {
height: 50px;
background: rgb(194, 192, 192);
overflow: hidden;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
  }

.heading {
 margin: 0;
 padding: 10px;
 color: black;
 font-weight: 500;
 font-size: 18px;
 text-align: center;
}

.closeBtn {
cursor: pointer;
font-weight: 500;
padding: 4px 8px;
border-radius: 8px;
border: none;
font-size: 18px;
color: #d0d2d4;
background: white;
transition: all 0.25s ease;
box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
position: absolute;
right: 0;
top: 0;
align-self: flex-end;
margin-top: -7px;
margin-right: -7px;
  }

.closeBtn:hover {
box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
transform: translate(-4px, 4px);
  }

.modalContent {
 padding: 10px;
 font-size: 14px;
 color: #2c3e50;
text-align: center;
  }
  
  .modalActions {
position: absolute;
bottom: 2px;
margin-bottom: 10px;
width: 100%;
  }
  
.actionsContainer {
display: flex;
justify-content: space-around;
align-items: center;
  }

.downBtn{
    height: 39px;
    border-radius:4px ;
    float: inline-end;
    align-items: flex-end;
 
  }

.upBtn{
    width: 70px;
    height: 39px;
    border-radius:4px ;
    margin-bottom: 30px;
    float: left;
    align-items: flex-start;
    
}

.print{
  width: 50px;
  height: 30px;
  border-radius: 4px;
  margin-bottom: 30px;
  float: left;
  align-items: flex-end;
  
}
.file{
    width: 210px;
    height: 38px;
    border-radius:4px ;
    cursor: pointer;
    background-color:rgb(155, 154, 154);
    color: black;
    align-items: flex-start;
    margin-top: 20px;
}

.file:hover {
  color: white;
}



.baixar{
  color: black;
}

.baixar:hover{
  color: white;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  margin-bottom: -7px ;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: -7px ;
}

@media (max-width: 600px) {
 .modal{
  width: 400px;
  height: 600px ;
  

 }

 .file{
   width: 140px;
   height: 30px;
   cursor: pointer;
 }

 .upBtn{
   width: 40px;
   height: 30px;
 
 }

 .downBtn{
  width: 40px;
  height: 30px;
 
 }

 .baixar{
   display: none;
   
 }
 .print{
  width: 40px;
  height: 30px;
  
 }

 
} 



@media (min-width: 600px) {
  .modal{
   width: 400px;
   height: 600px ;
   
 
  }
 
  .file{
    width: 130px;
    height: 30px;
    cursor: pointer;
    
  }
 
  .upBtn{
    width: 40px;
    height: 30px;
   
    
  }
 
  .downBtn{
   width: 40px;
   height: 30px;
  
  }
 
  .baixar{
    display: none;
  }
  
  .print{
    width: 40px;
    
   
 }
}

 @media (min-width: 768px) {
  .modal{
   width: 650px;
   height: 650px ;
  
  }
 
  .file{
    width: 180px;
    height: 30px;
    cursor: pointer;
   
  }
 
  .upBtn{
    width: 50px;
    height: 30px;
  
  }
 
  .downBtn{
   width: 50px;
   height: 30px;

  }
 
  .baixar{
    display: none;
  }
  
  .print{
    width: 50px;
    height: 30px;
  
 }
 }
  
  
 @media (min-width: 992px) {
  .modal{
   width: 650px;
   height: 650px ;
   
   
 
  }
 
  .file{
    width: 200px;
    height: 30px;
    cursor: pointer;
   
   
  
  }
 
  .upBtn{
    width: 50px;
    height: 30px;
   
  }
 
  .downBtn{
   width: 50px;
   height: 30px;
  
 
  }
 
  .baixar{
    display: none;
  }

  .print{
   width: 50px;
   height: 30px;
  
 }

 }

 @media (min-width: 1200px) {
  .modal{
   width: 700px;
   height: 700px ;
 
 
  }
  .file{
    width: 250px;
    cursor: pointer;
  
  }
 
  .upBtn{
    justify-content: start;
    align-items: flex-start;
    
    
  }
  
  .downBtn{
    justify-content: end;
    align-items: flex-end;
    
  }
  
  .print{
   justify-content: end;
   align-items: flex-end;
   width: 50px;
   height: 30px;
  
   
 }
  
 }