@import "../../App.css";

.confirm{
border: none;
background-color: rgb(255, 255, 255, 0.4); 
cursor: pointer;
border-radius: 5px;
width: 200px;
height: 30px;
   
}

form {
background-color: black;

}