@import "../../App.css";


button {

    background-color: rgb(155, 154, 154);
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    width: 80px;
    height: 36px;
    border: none;
    margin-left: 5px;
}


button:hover {
  color: white;
  background-color:  rgb(168, 167, 167);
 
}